<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TabBarDemoTwo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ECFEA7D61DC986C900D98B15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECFEA7EA1DC986C900D98B15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECFEA7F51DC986C900D98B15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
